<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Feature documentation - {{creationdate}}</title>

<style type="text/css">
{{{cssStyles}}}
</style>
</head>
<header>
  <aside>{{author}}</aside>
  <div>Feature documentation - {{creationdate}}</div>
</header>

<body>
  <h1>{{productname}}</h1>

  <div class="description">
    <p>This is the features documentation for <code>{{productname}}</code>. </p>
  </div>
    <div class="feature-list">
      <h2>Features</h2>
      <ul >
        {{{listOfFeatures}}}
      </ul>
    </div>
    
  <hr />


    {{{featuresHtml}}}


  </body>
</html>